<section>
    <div class="content-wrapper">
        <div class="hero-header"> 
            <h1 class="hero-title">
                Frontend <br> Developer
            </h1>
        </div>
        <div class="hero-secondary">
            <div class="line"></div>
            <h3>Adem Oencue</h3>
        </div>

        <div class="hero-side-content">
            <a class="hero-side-email" href="mailto:Adem@gmail.com" aria-label="E-Mail to Adem">
            Adem&#64;gmail.com
        </a>
        <div class="hero-side-scroll" aria-hidden="true">
            <div class="keyframe" >
                <img src="./images/arrow-down.png" alt="">
            </div>
            <p>Scroll</p>
            <p>Down</p>
        </div>
        </div>

    </div>
</section>