    <div class="hero-header"> 
            <h1 class="hero-title">
                Fullstack <br> Developer
            </h1>
            <div class="hero-secondary">
            <div class="line"></div>
            <h3>Adem Oencue</h3>
        </div>
    </div>
    <div class="hero-mobile-container" >
            <button class="hero-mobile-btn" > Send a message</button>
    </div>
    <div class="hero-side-content">
            <a class="hero-side-email" href="mailto:Adem@gmail.com" aria-label="E-Mail to Adem">
            Adem&#64;mail.com
        </a>
        <div class="hero-side-scroll" aria-hidden="true">
            <div class="scroll-viewport">
            <div class="arrow-down" >
                <img src="./images/arrow-down.png" alt="">
            </div>
            </div>
            <p>Scroll</p>
            <p>Down</p>
        </div>
    </div>