    <div id="aboutme-container">
        <div class="aboutme-text">
            <h2>About me</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, facilis dolorem! Natus nulla asperiores nisi odit, voluptatibus delectus sed, aperiam ab nemo quam recusandae cum ipsa? Dicta rem voluptatem facilis. </p>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, exercitationem ducimus dolore nesciunt rem quidem rerum quisquam accusamus nisi possimus cupiditate. Eveniet nihil atque impedit nulla corporis illum mollitia assumenda?.</p>
            <div class="lets-talk-container">
                <a class="lets-talk" href="#contact-header">Lets Talk</a>
            </div>

        </div>
        <div class="aboutme-wrapper" >  
            <div class="aboutme-image">
                <img src="./images/smile_v2.png" alt="">
            </div>
        </div>
    </div>