    <div id="aboutme-container">
        <div class="aboutme-text">
        <h2>{{ 'about.title' | translate }}</h2>
            <p>{{ 'about.p1' | translate }}</p>
            <p>{{ 'about.meta' | translate }}</p>
            <br />
            <p>{{ 'about.p2' | translate }}</p>
            <div class="lets-talk-container">
                <a class="lets-talk" href="#contact-header" [attr.aria-label]="'about.ctaAria' | translate"> {{ 'about.cta' | translate }}</a>
            </div>
        </div>
        <div class="aboutme-wrapper" >  
            <div class="aboutme-image">
                <img src="./images/smile_v2.png"  [attr.alt]="'about.imageAlt' | translate:{ name: ('hero.name' | translate) }">
            </div>
        </div>
    </div>