.aboutme-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    gap: 1rem;

    @media(max-width: 640px) {
        flex-direction: column;
        padding: 1rem;
    }
}


.aboutme-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;

    @media(max-width: 640px) {
        font-size: 2rem;
        display: flex;
        align-items: center;
    }

    h2 {
        font-size: 4rem;
        padding: 0 0 1rem 0;

        &:hover {
            color: #5988FF;
        }

        @media(max-width: 1024px) {
            font-size: 2.5rem;
        }
    }

    p {
        font-size: 1.2rem;
    }

    .lets-talk-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        width: 100%;

        .lets-talk-btn {
            font-size: 1rem;
            padding: 1rem 2rem;
            border: solid 3px black;
            background: transparent;
            cursor: pointer;

            &:active {
                animation: spread 0.1s ease-in-out;
            }

            @keyframes spread {
                0% {
                    transform: scaleX(1);
                }

                50% {
                    transform: scaleX(1.2);
                }

                100% {
                    transform: scaleX(1);
                }
            }

            @media(max-width: 640px) {
                display: none;
            }
        }
    }


}

.aboutme-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px transparent;

    &:hover {
        border: solid 3px black;
        border-radius: 50%;
    }

    img {
        height: 320px;
        width: 320px;

        @media(max-width: 1024px) {
            height: 240px;
            width: 240px;
        }

        @media(max-width: 768px) {
            height: 180px;
            width: 180px;
        }

        @media(max-width: 640px) {
            width: 100%;
            max-width: 280px;
        }
    }

}