<header>
    <a class="logo" href="#" aria-label="Go Home">
      <img src="./images/ao-black-logo.png" alt="Logo" />
    </a>
    
    <div class="actions">
            <div class="lang-switch" role="group" aria-label="Language">
    <button type="button" class="lang-btn"
              (click)="translate.use('de')"
              [class.is-active]="lang === 'de'"
              [attr.aria-pressed]="lang === 'de'">DE</button>

      <button type="button" class="lang-btn"
              (click)="translate.use('en')"
              [class.is-active]="lang === 'en'"
              [attr.aria-pressed]="lang === 'en'">EN</button>
      </div>

    <button class="burger-menu"
    type="button"
    (click)="toggleMenu()"
    [attr.aria-expanded]="isMenuOpen"
    aria-controls="menuOverlay"
    [attr.aria-label]="isMenuOpen ? 'main menu close' : 'main menu open'"
    [class.open]="isMenuOpen">
    <img
      [src]="isMenuOpen ? './images/icons/cross-menu.png' : './images/icons/burger-menu.png'"/>
    </button>
    </div>

      <nav   
        class="menu-overlay"
        id="menuOverlay"
        [class.open]="isMenuOpen"
        role="dialog"
        aria-modal="true">

        <div class="menu-items">
          <a href="#hero-side-content" (click)="closeMenu()">
              {{ 'nav.about' | translate }}
            <span class="line"></span>
          </a>
          <a href="#arrow-right" (click)="closeMenu()">
            {{ 'nav.skills' | translate }}
            <span class="line"></span>
          </a>
          <a href="#arrow-left" (click)="closeMenu()">
            {{ 'nav.portfolio' | translate }}
            <span class="line"></span>
          </a>
        </div>

      <div class="socials">
            <div class="socials-shape" aria-hidden="true"></div>

            <div class="socials-content">
              <p>
                {{ 'header.socials.cta' | translate }}
                <a href="mailto:adem@oencue.com">adem&#64;oencue.com</a>
              </p>

                <div class="social-media">
                    <div class="icons">
                      <a href="" target="_blank">
                        <img src="./images/icons/github-icon.png" alt="Github">
                      </a>
                      <a href="" target="_blank">
                        <img src="./images/icons/email-icon.png" alt="Email">
                      </a>
                      <a href="" target="_blank">
                        <img src="./images/icons/link-icon.png" alt="LinkedIn">
                      </a>
                    </div>
                </div>
            </div>
        </div>
      </nav>
</header>