<header>
    <a class="logo" href="#" aria-label="Go Home">
      <img src="./images/ao-black-logo.png" alt="Logo" />
    </a>

    <button class="burger-menu"
    type="button"
    (click)="toggleMenu()"
    [attr.aria-expanded]="isMenuOpen"
    aria-controls="menuOverlay"
    [attr.aria-label]="isMenuOpen ? 'main menu close' : 'main menu open'"
    [class.open]="isMenuOpen">
    <img
      [src]="isMenuOpen ? './images/icons/cross-menu.png' : './images/icons/burger-menu.png'"/>
</button>

      <nav   
        class="menu-overlay"
        id="menuOverlay"
        [class.open]="isMenuOpen"
        role="dialog"
        aria-modal="true">

        <div class="menu-items">
          <a href="#hero-side-content" (click)="closeMenu()">
            About me
            <span class="line"></span>
          </a>
          <a href="#arrow-right" (click)="closeMenu()">
            My Skills
            <span class="line"></span>
          </a>
          <a href="#arrow-left" (click)="closeMenu()">
            Portfolio
            <span class="line"></span>
          </a>
        </div>

      <div class="socials">
            <div class="socials-shape" aria-hidden="true"></div>

            <div class="socials-content">
              <p>
                get in touch!
                <a href="mailto:adem@oencue.com">adem&#64;oencue.com</a>
              </p>

                <div class="social-media">
                    <div class="icons">
                      <a href="" target="_blank">
                        <img src="./images/icons/github-icon.png" alt="Github">
                      </a>
                      <a href="" target="_blank">
                        <img src="./images/icons/email-icon.png" alt="Email">
                      </a>
                      <a href="" target="_blank">
                        <img src="./images/icons/link-icon.png" alt="LinkedIn">
                      </a>
                    </div>
                </div>
            </div>
        </div>
      </nav>
</header>