.back-button {
    display: flex;
    justify-content: end;
    padding: 1rem 3rem;

    @media(max-width: 768px) {
        padding: 1rem;

        img {
            width: 46px;
            height: 30px;
        }
    }
}

#privacy-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    gap: 1rem;

    @media(max-width: 1024px) {
        flex-direction: column;
        padding: 2rem;
    }

    @media(max-width: 640px) {
        padding: 1rem;
    }
}

.privacy-notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem;
    gap: 0.2rem;

    h2 {
        align-self: start;
        text-align: start;
        font-size: 4rem;
        padding: 0 0 1rem 6rem;
        transform: scaleX(1.8);

        &:hover {
            color: #5988FF;
        }
    }

    h4 {
        font-size: 1.5rem;
        color: #5988FF;
        margin-top: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    strong {
        color: #5988FF;
    }

    a {
        color: #5988FF;
    }

    ul {
        list-style: none;
    }


    .privacy-notice-details {
        margin-top: 2rem;

        .privacy-notice-text {
            margin-bottom: 2rem;
        }

        h5 {
            font-size: 1.2rem;
            color: #5988FF;
        }
    }

    @media(max-width: 1024px) {
        padding: 2rem;

        h2 {
            font-size: 2rem;
            padding: 0 2rem;
            transform: scaleX(1.5);
            width: 100%;
            max-width: 200px;
            white-space: nowrap;
        }
    }

    @media(max-width: 640px) {
        font-size: 1rem;
        display: flex;
        align-items: start;
        padding: 0;
    }
}