    <div class="portfolio-header">
    <h2>Portfolio</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
        Amet iste repellat perspiciatis voluptates quis quasi placeat quisquam beatae.</p>
    </div>

    <div class="portfolio-container">
    <div class="portfolio-item">
        <img src="./images/Property 1=join photo.png" alt="Portfolio Project">
            <div class="overlay-arrow">
                <img src="./images/arrow-rotate.png" alt="">
            </div>
    </div>


        <div class="portfolio-overlay">
        <h3>Join</h3>
        <div class="stack-title">
            <span>Angular | TypeScript | HTML | CSS | Firebase</span>
        </div>
        <p>Task manager inspired by the Kanban System...</p>

        <button class="text-btn" >EMPTY</button>
        </div>
        <span class="portfolio-count">01/05</span>



    </div>
