<section>
    <div class="content-wrapper">
        <a routerLink="/home" fragment="contact-header" class="back-button" 
        [attr.aria-label]="'legal.backAria' | translate">
            <img src="./images/arrow-back.png" [attr.alt]="'legal.backAlt' | translate">
        </a>
        <div id="legal-container">   
            <div class="legal-notice">
                <h2>{{ 'legal.title' | translate }}</h2>
                <h5>{{ 'legal.subtitle' | translate }}</h5>
                <p>
                    {{ 'legal.intro.purpose' | translate }}
                    <br />
                    {{ 'legal.intro.responsible' | translate }}
                    <br />
                    <strong>{{ 'hero.name' | translate }}</strong>
                    <br />
                    {{ 'legal.intro.emailLabel' | translate }}
                    <a [href]="'mailto:' + ('legal.contactEmail' | translate)">
                        {{ 'legal.contactEmail' | translate }}
                    </a>
                </p>

                <div class="legal-notice-details">
                    <div class="legal-notice-text">
                        <h5>{{ 'legal.disclaimer.title' | translate }}</h5>
                        <p>{{ 'legal.disclaimer.text' | translate }}</p>
                    </div>

                    <div class="legal-notice-text">
                        <h5>{{ 'legal.links.title' | translate }}</h5>
                        <p>{{ 'legal.links.text' | translate }}</p>
                    </div>

                    <div class="legal-notice-text">
                        <h5>{{ 'legal.copyright.title' | translate }}</h5>
                        <p>{{ 'legal.copyright.text' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
