#arrow-left {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 2rem 3rem 0 3rem;

    &:hover {
        animation: arrowDownLeft 1s ease-out;
    }

    @media(max-width: 640px) {
        margin: 0 0 2rem 2rem;
    }

    img {
        width: 180px;
        height: 180px;

        @media(max-width: 640px) {
            width: 150px;
            height: 150px;
        }
    }
}

@keyframes arrowDownLeft {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: translate(40px, 40px);
        opacity: 1;
    }
}