        <div id="arrow-right" >
            <img src="./images/arrow-left-diagonal.png" 
            [attr.alt]="'skills.diagArrowLeftAlt' | translate">
        </div>

        <div class="skills-list">
            <div class="header-skills">
                <h2>{{ 'skills.title' | translate }}</h2>
            </div>
                <ul>
                    @for (skill of skills; track skill.key) {
                    <li>
                        <img [src]="basePath + '/' + skill.icon"
                        [attr.alt]="('skills.items.' + skill.key + '.label') | translate">
                        <span>{{ ('skills.items.' + skill.key + '.label') | translate }}</span>
                    </li>
                    }
                </ul>
        </div>
        <div id="arrow-left" >
            <img src="./images/arrow-diagonal.png" [attr.alt]="'skills.diagArrowRightAlt' | translate">
        </div>
