.skills-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    padding: 3rem;
    margin: 2rem 3rem 0 3rem;

    .header-skills {
        position: absolute;
        top: -2rem;

        h2 {
            font-size: 4rem;
            padding: 0 0.5rem;
            transform: scaleX(1.8);
            background: #FFFCF3;

            &:hover {
                color: #5988FF;
            }
        }

        @media(max-width: 1024px) {
            h2 {
                font-size: 2.5rem;
            }
        }

        @media(max-width: 640px) {
            h2 {
                font-size: 1.2rem;
                top: 0.75rem;
            }
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            width: 15%;

            @media (max-width: 640px) {
                width: 20%;
            }

            img {
                width: 60px;
                height: 60px;

                &:hover {
                    animation: moveBackAndAround 0.5s ease-in-out;
                }
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 1rem;
                color: #333;
                width: 100%;

                padding: 0.5rem 0;

                &:hover {
                    color: #5988FF;
                }
            }
        }
    }

    @media(max-width: 640px) {
        margin: 1rem 1rem 0 1rem;
        padding: 0;
    }
}

#arrow-right {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1rem 0;
    margin: 0 3rem 4rem 3rem;

    &:hover {
        animation: arrowDownRight 1s ease-out;
    }

    @media(max-width: 640px) {
        margin: 0 2rem 2rem 0;
    }

    img {
        width: 180px;
        height: 180px;

        @media(max-width: 640px) {
            width: 150px;
            height: 150px;

        }
    }
}

#arrow-left {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 2rem 3rem 0 3rem;

    &:hover {
        animation: arrowDownLeft 1s ease-out;
    }

    @media(max-width: 640px) {
        margin: 0 0 2rem 2rem;
    }

    img {
        width: 180px;
        height: 180px;

        @media(max-width: 640px) {
            width: 150px;
            height: 150px;


        }
    }
}

//icon keyframes
@keyframes moveBackAndAround {
    0% {
        transform: translateZ(0) translateX(0);
        opacity: 1;
    }

    // back & right
    40% {
        transform: translateZ(-100px) translateX(20px);
    }

    //back & left
    60% {
        transform: translateZ(-100px) translateX(-20px);
    }

    //default
    100% {
        transform: translateZ(0) translateX(0);
    }
}

//arrow keyframes
@keyframes arrowDownRight {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: translate(-40px, 40px);
        opacity: 1;
    }
}

@keyframes arrowDownLeft {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: translate(40px, 40px);
        opacity: 1;
    }
}