        <div id="arrow-right" >
            <img src="./images/arrow-left-diagonal.png" alt="">
        </div>

        <div class="skills-list">
            <div class="header-skills">
                <h2>My skills</h2>
            </div>
                <ul>
                    @for (skill of skills; track skill.key) {
                    <li>
                        <img
                        ngSrc="{{ basePath }}/{{ skill.icon }}"
                        width="60"
                        height="60"
                        [alt]="skill.label"
                        decoding="async" />
                        <span>{{ skill.label }}</span>
                    </li>
                    }
                </ul>
        </div>
        <div id="arrow-left" >
            <img src="./images/arrow-diagonal.png" alt="">
        </div>
