        <div id="skills" class="scroll-anchor"></div>
        <div class="skills-list">
            <div class="header-skills">
                <h2>{{ 'skills.title' | translate }}</h2>
            </div>
                <ul>
                    @for (skill of skills; track skill.key) {
                    <li>
                        <img [src]="basePath + '/' + skill.icon"
                        [attr.alt]="('skills.items.' + skill.key + '.label') | translate">
                        <span>{{ ('skills.items.' + skill.key + '.label') | translate }}</span>
                    </li>
                    }
                </ul>
        </div>
