* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "syne", "sans-serif";
}

html,
body {
  background: #FFFCF3;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;

  .content-wrapper {
    width: 100%;
    max-width: 1920px;
  }
}

.scroll-anchor {
  top: -96px;
  height: 0;
  width: 0;
  visibility: hidden;

  @media (max-width: 768px) {
    top: -80px;
  }

  @media (max-width: 640px) {
    top: -64px;
  }
}

@font-face {
  font-family: "syne";
  src: url("../public//fonts/syne-v23-latin/syne-v23-latin-regular.woff2") format("woff");
}