<footer>
    <a class="logo" href="#">
        <img src="./images/ao_logo.png" alt="">
        <p> &#169; Adem Oencue 2025</p>
    </a>

    <div class="social-media">
        <div class="icons" >
        <a href="" target="_blank">
            <img src="./images/icons/github-icon.png" alt="Github">
        </a>
        <a href="" target="_blank">
            <img src="./images/icons/email-icon.png" alt="Email">
        </a>
        <a href="" target="_blank">
            <img src="./images/icons/link-icon.png" alt="LinkedIn">
        </a>
        </div>
        <p>Legal notice</p>
    </div>
</footer>