
<footer>
    <div class="footer-wrapper">
    <a class="logo" href="#" [attr.aria-label]="'footer.homeAria' | translate">
        <img src="./images/ao_logo.png" [attr.alt]="'footer.logoAlt' | translate">
        <p>&#169; {{ 'footer.copy' | translate:{ name: ('hero.name' | translate), year: 2025 } }}</p>
    </a>
    <div class="social-media">
        <div class="icons" >
        <a href="https://github.com/adminhype" target="_blank" rel="noopener noreferrer"[attr.aria-label]="'footer.socials.githubAria' | translate">
            <img src="./images/icons/github-icon.png" [attr.alt]="'footer.socials.githubAlt' | translate">
        </a>
        <a href="mailto:dev@ademoencue.de" target="_blank" rel="noopener noreferrer" [attr.aria-label]="'footer.socials.emailAria' | translate">
            <img src="./images/icons/email-icon.png" [attr.alt]="'footer.socials.emailAlt' | translate" >
        </a>
        <a href="https://www.linkedin.com/in/adem-oencue-9b4588383" target="_blank" rel="noopener noreferrer"[attr.aria-label]="'footer.socials.linkedinAria' | translate">
            <img src="./images/icons/link-icon.png" [attr.alt]="'footer.socials.linkedinAlt' | translate">
        </a>
        </div>
        <a class="legal-notice" routerLink="/legal-notice" [attr.aria-label]="'footer.legalNoticeAria' | translate">
            {{ 'footer.legalNotice' | translate }}
        </a>
    </div>
</div>

</footer>