<div class="arrow-right" >
    <img src="./images/arrow-left-diagonal.png" alt="">
</div>
<div id="contact-header" > 
    <div class="contact-title">
        <h2>What`s up? </h2>
    </div>
</div>
<div class="contact-content">
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </span>
    <p>Let’s connect and create something amazing together!</p>

    <form>
        <input type="text" placeholder="Your Name">
        <input type="email" placeholder="Your Email">
        <textarea placeholder="Your Message"></textarea>
        <div  class="privacy-policy" >
            <input type="checkbox" id="subscribe">
            <label for="subscribe">I`ve read the privacy policy and agree to the processing of my data as outlined.</label>
        </div>
        <button class="message-btn">Send Message</button>
    </form>

    <a class="arrow-top" href="#top">
        <img src="./images/arrow-top.png" alt="">
    </a>
</div>
